.product{
   
    height: 360px;
    position: relative;
}
.product .immg{

   width: 128px;
   height: 226px;
   transition: all 0.2s ;
   
}

.immg:hover{
    transform: scale(1.05)
}

.add{
    
   
    position: absolute;
    
 
 
    opacity: 0;
    transition: all 1s;
}

.product:hover .add{
    opacity: 1;
}